.DS_Store

# IntelliJ files
**/.idea/*
!/.idea/vcs.xml
out/
*.iml

# Bencchmark in the root
benchmarks.jar

# Gradle files
build/
.gradle/

# Maven files
target

# Modules for JS projects build
node_modules
